.user-table{
    table{
        border-collapse: collapse;
        thead{
            tr{
                border-bottom : 0.1rem solid black;
                background-color :#eeeeee;
            }
        }
        tbody{
            tr{
                text-align: center;
            }
        }
    }
}
.admin-page{
    display : flex;
    justify-content: flex-start;
}
.admin-nav{
    width : 20%;
    display: flex;
    flex-direction: column;
}
.admin-main{
    margin : 1rem;
    width : 80%;
    display: flex;
    justify-content: center;
}