<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href="/stylesheets/header.css"/>
    <link rel='stylesheet' href="/stylesheets/style.css"/>
    <link rel='stylesheet' href="/stylesheets/nav.css"/>
    <link rel='stylesheet' href="/stylesheets/admin/admin.css"/>
</head>
<body>
    <div id="root">
        Admin-page
    </div>
</body>
<script src="/javascripts/adminpage.bundle.js"></script>

</html>