<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href="/stylesheets/header.css"/>
    <link rel='stylesheet' href="/stylesheets/style.css"/>
    <link rel='stylesheet' href="/stylesheets/nav.css"/>
    <link rel='stylesheet' href="/stylesheets/admin/crudpage.css"/>
    <link rel='stylesheet' href="/stylesheets/admin/admin.css"/>
    <link rel='stylesheet' href="/stylesheets/footer.css"/>

</head>
<body>
    <div id="root">
        
    </div>
</body>
<script src="/javascripts/crudformpage.bundle.js"></script>

</html>