<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/amazon.css' />
    <link rel='stylesheet' href='/stylesheets/carousel.css' />
    <link rel="stylesheet" href='/stylesheets/subcontainer.css'/>
  </head>
  <body>
    <div id="root">

    </div>
  </body>
  <script type="module" src="./javascripts/bundle.js">

  </script>
</html>
