<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="/stylesheets/header.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/main/maincontainer.css' />
    <link rel='stylesheet' href='/stylesheets/amazon.css' />
    <link rel='stylesheet' href='/stylesheets/carousel/carousel.css' />
    <link rel="stylesheet" href='/stylesheets/main/subcontainer.css'/>
    <link rel='stylesheet' href="/stylesheets/carousel/cardcategory.css"/>
    <link rel='stylesheet' href="/stylesheets/carousel/bottom.css"/>
    <link rel='stylesheet' href="/stylesheets/footer.css"/>
  </head>
  <body>
    <div id="root">
    </div>
  </body>
  <script type="module" src="./javascripts/main.bundle.js">

  </script>
</html>
