<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../stylesheets/login/login.css" />
    <link rel="stylesheet" href="../stylesheets/modal/modal.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
</head>
<body>
    <div id="root">
    </div>
</body>
<script src="../javascripts/loginpage.bundle.js">
</script>

</html>