<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div id="root">
    </div>
  </body>
  <script type="module" src="./javascripts/bundle.js">

  </script>
</html>
