<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/register/register.css"/>
    <link rel="stylesheet" href="stylesheets/modal/modal.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
  </head>
  <body>
    <div id="root">
    </div>
  </body>
  <script src="./javascripts/register.bundle.js">
  </script>
</html>
