.carousel-viewport{
   border : 0.1rem solid black;
   display : flex;
   vertical-align : middle;
   .arrow {
       display: flex;
       align-items: center;
   }
   .arrow-img {
       width: 3rem;
       height : 3rem;
   }
}
ol {
   list-style:none;
    display:inline;
    padding : 0rem;
    overflow : hidden;
  li {
    display : inline-flex;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    position : relative;
    float: left;
    z-index : -1;
    img{
        position : relative;
        overflow: hidden;
        width: 20rem;
        height: auto;
    }
  }
}
.hidden{
  position : absolute;
  display: none;
}
