$image-size : 15rem;
.carousel-viewport{
    display : flex;
    vertical-align : middle;
   .arrow {
       display: flex;
       align-items: center;
       cursor: pointer;
   }
   .arrow-img {
       width: 3rem;
       height : 3rem;
   }
}
.carousel-main {
    padding : 0rem;
    overflow: hidden;
    height : auto;
  ol{
    list-style:none;
    display: flex;
    padding : 0.1rem;
    height : auto;
    // transform : translateX(-12.8rem);
  }
  li {
    border : 0;
    position : relative;
    // overflow : hidden;
    img{
      width : $image-size;
      height : auto;
    }
  }
}