.carousel-viewport{
    width : 20rem;
    height: 11rem;
    border : 0.1rem solid black;
    display : flex;
    vertical-align : middle;
   .arrow {
       display: flex;
       align-items: center;
       cursor: pointer;
   }
   .arrow-img {
       width: 3rem;
       height : 3rem;
   }
}
.carousel-main {
    padding : 0rem;
    overflow: hidden;
    width : 12.8rem;
    height : auto;
  ol{
    list-style:none;
    display: flex;
    padding : 0.1rem;
    width : 180px;
    height : auto;
    transform : translateX(-12.8rem);
  }
  li {
    border : 0;
    position : relative;
    img{
      width : 12.8rem;
      height : auto;
    }
  }
}
// .hidden{
//     position: absolute;
// }
