nav{
    ul, li{
        list-style: none;
    }
    &.main-nav{
        background-color : #6aa6ff;
    }
    &.inactive{
        display: none;
    }
    &.admin-nav{
        background-color : #fafafa;
        width : 10%;
        a{
            margin : 1rem;
            text-decoration: none;
            font-size : 1.2rem;
        }
    }
}