html{
  width: 100%;
  height: 100%;
}
body{
  width : 100%;
  height : 90%;
}

.container{
  padding: 0;
  margin: 0;
}

/* a {
  color: #00B7FF;
} */

/*버튼*/
.btn-container{
  display: inline-flex;
  justify-content: center;
  width:100%;
}
.btn{
  background-color:#23cf5d;
  border: none;
  color: white;
  text-align: center;
  margin: 5px 5px;
  cursor: pointer; 
  text-decoration: none;
  border-radius: 0.2rem;
}
.btn.btn-disabled{
  background-color:#999999;

}
.btn.btn-small{
  width:4rem;
  height: 2rem;
  font-size:1em;
}
.btn.btn-middle{
  width:6em;
  height:2.5em;
  font-size: 1.2rem;
}
.btn.btn-large{
  width: 8rem;
  height: 3rem;
  font-size : 1.4rem;
}