.sub-container{
    display:flex;
    //border : 0.1rem solid black;
    padding : 1rem;
    margin : 0.1rem;
    min-height : 20rem;
    align-items: center;
    .sub-right{
        margin : 0.5rem;
        display: flex;
        flex-direction: column;
    }
    .sub-title{
        font-size : 2.5rem;
        margin-bottom: 1rem;
    }
    .sub-content{
        font-size: 1.5rem;
    }
    .sub-url{
        margin:0.5rem;
        a{
            font-weight: bold;
            text-decoration: none;
            cursor: pointer;
        }
        a:hover{
            text-decoration: underline;   
        }
        
    }
    
}
