.bottom-card{
    display:flex;
    justify-content: flex-end;
    background-size : 50rem;
    .bottom-main{
        width:50%;
        display: flex;
        flex-direction: column;
        .bottom-title{
            font-size : 1.5rem;
        }
        .bottom-content{

        }
        .bottom-url{
            a{
                font-weight: bold;
                text-decoration: none;
                cursor: pointer;
            }
        }
        
    }
    

}