.main-container{
    .benefit-cards{
        display:flex;
        justify-content: center;
        margin : 2.5rem;
        transform : translateY(-5rem)
    }
    .carousel-none{
        display :flex;
        justify-content: center;
    }
}